@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1631795259965') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjian:before {
  content: "\e663";
}

.icon-wenjian2:before {
  content: "\e7b6";
}

.icon-wenjian1:before {
  content: "\e63d";
}

.icon-weibiaoti-_huabanfuben:before {
  content: "\e60f";
}

.icon-wenjian3:before {
  content: "\e6b0";
}

